In [1]:
import pandas as pd
pd.set_option("display.max_columns", 21)
table = pd.read_csv("../0-Data/kc_house_data.csv")

In [2]:
off = ["id", "date", "zipcode", "lat", "long", "yr_renovated"]
table = table.drop(off, axis=1)
table.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,1800,7503

In [3]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(table.drop("price", axis=1), table["price"], test_size = 0.3)

In [4]:
from sklearn.linear_model import Ridge

model = Ridge(alpha = 10.0) #Linear regression + regularization L2 (Sum  Mi^2)
model.fit(x_train, y_train)
result = model.score(x_test, y_test)
print(result)

0.6567041183354151