In [2]:
import pandas as pd
table = pd.read_csv(
    "../0-Data/Admission_Predict_Ver1.1.csv")
pd.set_option("display.max_columns", len(table.columns))
table.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
table.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [4]:
table.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [5]:
table = table.drop("Serial No.", axis=1)

In [6]:
y = table["Chance of Admit "]
x = table.drop("Chance of Admit ", axis=1)

In [7]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [8]:
def linearModels(x_train, x_test, y_train, y_test):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet

    modelLinear = LinearRegression()
    modelRidge = Ridge()
    modelLasso = Lasso()
    modelElasticNet = ElasticNet()

    modelLinear.fit(x_train, y_train)
    modelRidge.fit(x_train, y_train)
    modelLasso.fit(x_train, y_train)
    modelElasticNet.fit(x_train, y_train)

    results = {
        "LinearModel": modelLinear.score(x_test, y_test),
        "RidgeModel": modelRidge.score(x_test, y_test),
        "LassoModel": modelLasso.score(x_test, y_test),
        "ElasticNetModel": modelElasticNet.score(x_test, y_test)
    }

    for i in results:
        print(f"{i}: {results[i]}")
    print(f"\nBest model = {max(results, key=results.get)}: {max(results.values())}")

In [9]:
linearModels(x_train, x_test, y_train, y_test)

LinearModel: 0.8256134924191358
RidgeModel: 0.8257555623436819
LassoModel: 0.2507070646928512
ElasticNetModel: 0.5535292236828043

Best model = RidgeModel: 0.8257555623436819